/* current time */
.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
  text-shadow: green 0px 0px 10px;
}
.text {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-shadow: green 0px 0px 10px;
}
.hours {
  display: flex;
}
.minutes {
  display: flex;
}
.seconds {
  display: flex;
}
/* modal window */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 30vh;
}

.modal__window {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-radius: 10px;
  border: 2px solid gray;
  width: 350px;
  height: 150px;
  background-color: rgba(211, 212, 212, 0.2);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  box-shadow: green 0px 0px 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
  background-color: lightskyblue;
  border: 2px solid gray;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: green 0px 0px 10px;
  
}

.btn:hover {
  background-color: lightblue;
  color: green;
  transition: all 0.3s ease;
}

.input__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-shadow: green 0px 0px 10px;
}
.input__name {
  margin-top: 10px;
  width: 350px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: green 0px 0px 10px;
}
